
{{rating-star value=value rating=rating rating1=rating1 rating2=rating2  rating3=rating3  rating4=rating4  rating5=rating5 enabled=enabled}}  
<div class="camera-lens-rating"></div>
<div class="camera-lens-rating1"></div>
<div class="camera-lens-rating2"></div>
<div class="camera-lens-rating3"></div>
<div class="camera-lens-rating4"></div>
<div class="camera-lens-rating5"></div>
		
		

