
progress{
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
  height: 15px;
    width: 100px;
 
}
.review-rating{
height:15px;
display:inline!important;
}
span.exact-rating {
    color: #777;
    display: inline-block;
    height: 15px;
    position: absolute;
    vertical-align: baseline;
}
.reviews-10 {
  color: #ff5500; 
}

.reviews-10::-webkit-progress-value {
  background-color:#ff5500;
}

.reviews-10::-moz-progress-bar {
  background-color:#ff5500;
}

.reviews-20 {
  color: #e8c813; 
}

.reviews-20::-webkit-progress-value {
  background-color:#e8c813;
}

.reviews-20::-moz-progress-bar {
  background-color:#e8c813;
}

.reviews-30 {
  color: #e8e113; 
}

.reviews-30::-webkit-progress-value {
  background-color:#e8e113;
}

.reviews-30::-moz-progress-bar {
  background-color:#e8e113;
}

.reviews-40 {
  color: #e4e813; 
}

.reviews-40::-webkit-progress-value {
  background-color:#e4e813;
}

.reviews-40::-moz-progress-bar {
  background-color:#e4e813;
}

.reviews-50 {
  color: #cfe813; 
}

.reviews-50::-webkit-progress-value {
  background-color:#cfe813;
}

.reviews-50::-moz-progress-bar {
  background-color:#cef813;
}

.reviews-60 {
  color: #c8e813; 
}

.reviews-60::-webkit-progress-value {
  background-color:#c8e813;
}

.reviews-60::-moz-progress-bar {
  background-color:#C8e813;
}

.reviews-70 {
  color: #B3e813; 
}

.reviews-70::-webkit-progress-value {
  background-color:#B3e813;
}

.reviews-70::-moz-progress-bar {
  background-color:#B3e813;
}

.reviews-80 {
  color: #93e813; 
}

.reviews-80::-webkit-progress-value {
  background-color:#93e813;
}

.reviews-80::-moz-progress-bar {
  background-color:#93e813;
}


.reviews-90 {
  color: #73ff00; 
}

.reviews-90::-webkit-progress-value {
  background-color:#73ff00;
}

.reviews-90::-moz-progress-bar {
  background-color:#73ff00;
}

.reviews-100 {
  color: #0aff00; 
}

.reviews-100::-webkit-progress-value {
  background-color:#0aff00;
}

.reviews-100::-moz-progress-bar {
  background-color:#0aff00;
}
.review-rating span{
display:inline!important;
}

.composer-rating {
  padding: 3px 7px;
  .rating {
    margin-left: 2px;
  }
}

.exact-rating {
  vertical-align: middle;
  display: inline-block;
  height: 17px;
  color: #777;
}

.topic-list .exact-rating {
  font-size: 14px;
  height: 15px;
}

.topic-post .rating {
  vertical-align: top;
  /*line-height:1.25;*/
}

span.rating {
  background-size: contain;
    display: inline-block;
    font-size: 0;
    height: 15px;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    white-space: nowrap;
    width: 100px;
  
}
