.username.new-user a {
margin-right:5px;
}
.total-review-rating span{
display:inline;
font-size: 12px;
vertical-align: baseline;
}
.names span{
display:inline;
padding-right:0;
}
#topic-title .title-wrapper
{
margin-bottom:10px;
}
.camera-lens-rating, .lens-rating { 
			height: 19px;  /* Can be anything */
			position: relative;
			background: #555;
			width: 200px;
			box-shadow:1px 1px 1px 1px #222 inset;
		}
.camera-lens-rating > span,.lens-rating > span {
			display: block;
			height: 100%;
			
			
			
		}
.camera-lens-rating > span:after ,.lens-rating > span:after {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			z-index: 1;
			overflow: hidden;
		}
.camera-lens-rating .rating-10,.lens-rating .rating-10{
background-color: #ff5500; 
}
.camera-lens-rating .rating-20,.lens-rating .rating-20{
background-color: #e8c813; 
}
.camera-lens-rating .rating-30,.lens-rating .rating-30{
background-color: #e8e113; 
}
.camera-lens-rating .rating-40,.lens-rating .rating-40{
background-color: #e4e813; 
}

.camera-lens-rating .rating-50,.lens-rating .rating-50{
background-color: #e4e813; 
}

.camera-lens-rating .rating-60,.lens-rating .rating-60{
background-color: #e4e813; 
}

.camera-lens-rating .rating-70,.lens-rating .rating-70{
background-color: #B3e813;
}

.camera-lens-rating .rating-80,.lens-rating .rating-80{
background-color: #93e813;
}

.camera-lens-rating .rating-90,.lens-rating .rating-90{
background-color: #73ff00;
}

.camera-lens-rating .rating-100,.lens-rating .rating-100{
background-color: #0aff00;
}


span.sharprating {
  background-size: contain;
    display: inline-block;
    font-size: 0;
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    white-space: nowrap;
    
  
}

.total-review-rating{
font-size:0.6em;
}


.composer-rating {
  padding: 3px 7px;
  .rating {
    margin-left: 2px;
  }
}

.exact-rating {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 19px;
}

.topic-list .exact-rating {
  font-size: 14px;
  height: 19px;
}

.topic-post .rating {
  vertical-align: top;
  /*line-height:1.25;*/
}

span.rating {
  background-size: contain;
    display: inline-block;
    
    font-size:12px;
    line-height: 19px;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    white-space: nowrap;
    
  
}
