{{#if showRating}}
  {{d-rating rating=model.average_rating}}
  
{{else}}
  {{#if model.average_rating}}
    {{#if currentUser.admin}}
      <span class="exact-rating">{{i18n "topic.hidden_ratings"}}</span>
    {{/if}}
  {{/if}}
{{/if}}
