{{#if showRating}}
  {{d-rating rating=model.average_rating rating1=model.average_rating1 rating2=model.average_rating2 rating3=model.average_rating3 rating4=model.average_rating4 rating5=model.average_rating5}}
  
{{else}}
  {{#if model.average_rating}}
    {{#if currentUser.admin}}
      <span class="exact-rating">{{i18n "topic.hidden_ratings"}}</span>
    {{/if}}
  {{/if}}
{{/if}}
